{% extends "base.html" %}
{% block title %}PokeImpact - Password Reset{% endblock %}
{% block content %}
{% from "includes/_formHelper.html" import render_field %}
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<style>
    @font-face {
	font-family: default-font;
  	src: url(../static/font-face/default-font.ttf);
    }
    #login .container #login-row #login-column #login-box {
      margin-top: 75px;
      max-width: 600px;
      height: 200px;
      background-color: rgba(0, 0, 0, 0.7);
      color: white;
      border-radius: 15px;
    }
    #login .container #login-row #login-column #login-box #login-form {
      padding: 20px;
    }
    #login .container #login-row #login-column #login-box #login-form #register-link {
      margin-top: -40px;
    }
    body {
      background-image: url("../static/img/account-background.jpg");
        background-size: cover;
        font-family: default-font;
    }


</style>
<div id="Background">
<div id="login">
<div class="container">
  <div id="login-row" class="row justify-content-center align-items-center">
        <div id="login-column" class="col-md-6">
                    <div id="login-box" class="col-md-12">
<form method="POST" action="">
  {{ form.hidden_tag() }}
  <h3 class="text-center">Password Reset</h3>

  <div class="form-outline mb-4">
    {{ render_field(form.username, class="form-control") }}
  </div>

  <!-- Submit button -->
  <input type="submit" value="Reset Password" class="btn btn-primary btn-block mb-4"></input>

   <!-- Flash Messages -->
  {% with messages = get_flashed_messages() %}
        {% if messages %}
            <ul class="flashes">
            {% for message in messages %}
                <h5 class="text-center">{{ message }}</h5>
            {% endfor %}
            </ul>
        {% endif %}
    {% endwith %}
</form>
</div>
        </div>

</div>
</div>
</div>
</div>
{% endblock %}
