<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

</body>
</html><!DOCTYPE html>
<html lang="en">
{% extends "base.html" %}
{% block title %}PokeImpact - Gacha Store{% endblock %}

{% block content %}
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/store.css') }}">
</head>
<body>
<section class="shop" id="shop">
		<div class="container">
			<div class="box">
				<img src="../static/css/gachastore%20materials/crownzenith.png">
				<h4>Crown Zenith Booster Pack</h4>
				<h5>$15.00</h5>
				<a href="/checkoutGacha/crownzenith"><button type="button" class="btn btn-primary">BUY NOW</button></a>
			</div>

			<div class="box">
				<img src="../static/css/gachastore%20materials/silvertempest.png">
				<h4>Silver Tempest Booster Pack</h4>
				<h5>$15.00</h5>
				<a href="/checkoutGacha/silvertempest"><button type="button" class="btn btn-primary">BUY NOW</button></a>
			</div>

			<div class="box">
				<img src="../static/css/gachastore%20materials/astralradiance.png">
				<h4>Astral Radiance Booster Pack</h4>
				<h5>$15.00</h5>
				<a href="/checkoutGacha/astralradiance"><button type="button" class="btn btn-primary">BUY NOW</button></a>
			</div>

			<div class="box">
				<img src="../static/css/gachastore%20materials/stars.png">
				<h4>Brilliant Stars Booster Pack</h4>
				<h5>$15.00</h5>
				<a href="/checkoutGacha/brilliantstars"><button type="button" class="btn btn-primary">BUY NOW</button></a>
			</div>

			<div class="box">
				<img src="../static/css/gachastore%20materials/celebrations.png">
				<h4>Celebrations Booster Pack</h4>
				<h5>$15.00</h5>
				<a href="/checkoutGacha/celebrations"><button type="button" class="btn btn-primary">BUY NOW</button></a>
			</div>

			<div class="box">
				<img src="../static/css/gachastore%20materials/evolving.png">
				<h4>Evolving Skies Booster Pack</h4>
				<h5>$15.00</h5>
				<a href="/checkoutGacha/evolvingskies"><button type="button" class="btn btn-primary">BUY NOW</button></a>
			</div>

			<div class="box">
				<img src="../static/css/gachastore%20materials/vividvoltage.png">
				<h4>Vivid Voltage Booster Pack</h4>
				<h5>$15.00</h5>
				<a href="/checkoutGacha/vividvoltage"><button type="button" class="btn btn-primary">BUY NOW</button></a>
			</div>

			<div class="box">
				<img src="../static/css/gachastore%20materials/sunandmoon.png">
				<h4>Sun & Moon Booster Pack</h4>
				<h5>$15.00</h5>
				<a href="/checkoutGacha/sunmoon"><button type="button" class="btn btn-primary">BUY NOW</button></a>
			</div>

            <div class="box">
				<img src="../static/css/gachastore%20materials/lostorigin.png">
				<h4>Lost Origin Booster Pack</h4>
				<h5>$15.00</h5>
				<a href="/checkoutGacha/lostorigin"><button type="button" class="btn btn-primary">BUY NOW</button></a>
			</div>

<!--			<div class="box">-->
<!--				<img src="../static/css/gachastore.jpg">-->
<!--				<h4>I'm a product</h4>-->
<!--				<h5>$15.00</h5>-->
<!--				<div class="cart">-->
<!--					<a href="#"><i class='bx bx-cart' ></i></a>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="box">-->
<!--				<img src="../static/css/gachastore.jpg">-->
<!--				<h4>I'm a product</h4>-->
<!--				<h5>$15.00</h5>-->
<!--				<div class="cart">-->
<!--					<a href="#"><i class='bx bx-cart' ></i></a>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="box">-->
<!--				<img src="../static/css/gachastore.jpg">-->
<!--				<h4>I'm a product</h4>-->
<!--				<h5>$15.00</h5>-->
<!--				<div class="cart">-->
<!--					<a href="#"><i class='bx bx-cart' ></i></a>-->
<!--				</div>-->
<!--			</div>-->

<!--			<div class="box">-->
<!--				<img src="../static/css/gachastore.jpg">-->
<!--				<h4>I'm a product</h4>-->
<!--				<h5>$15.00</h5>-->
<!--				<div class="cart">-->
<!--					<a href="#"><i class='bx bx-cart' ></i></a>-->
<!--				</div>-->
<!--			</div>-->

		</div>
	</section>
</body>
{% endblock %}
